@charset "utf-8"; 

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Abel);
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

/* reset */
body						{margin: 0; font-family: 'Abel', sans-serif; background-color: #56545f;}
ul							{list-style: none; margin: 0; padding: 0;}
a							{text-decoration: none;}
a:link						{text-decoration: none; font-weight: bold;}
a:visited					{text-decoration: none; font-weight: bold;}
a:hover						{text-decoration: none;}
a:active					{text-decoration: none;}
*:focus						{outline: none;}
img							{width: 100%; vertical-align: top; border: 0 none;}

/* selection */
*::selection				{text-shadow: none; color: #ffffff; background: #360aca;}

/* clear */
.section:after				{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}

/* gnb */
#gnb						{position: fixed; top: 0; left: 0; width: 5%; height: 100%; background-color: #56545f;}
#gnb ul						{display: block; margin-top: 50px;}
#gnb li						{text-align: center;}
#gnb li+li					{margin-top: 25px;}
#gnb li a					{color: #e6e6e6; font-size: 18px; font-family: 'Abel', sans-serif;}
#gnb li a:hover 			{color: #ffffff;}

/*  */