@charset "utf-8";

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* reset */
html, body																			{height: 100%;}
html																				{font-size: 16px;}
::-webkit-scrollbar																	{width: 8px; height: 8px; border: 3px solid #ffffff;}
::-webkit-scrollbar-track															{background: #efefef; -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb															{height: 50px; width: 50px; background: #00ff7f; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
body 																				{overflow-x: hidden; position: relative; margin: 0; padding: 0;}
#frame																				{overflow: hidden;}
img																					{vertical-align: top; border: 0 none;}
ul																					{list-style: none; margin: 0; padding: 0;}
a																					{text-decoration: none;}

/* header */
#header																				{position: fixed; z-index: 1; top: 0; width: 100%; font-family: 'Oswald', sans-serif; font-weight: 700; background-color: #2c4157;}
#header h1																			{margin: 0; padding: 0; width: 0; height: 0; visibility: hidden;}
#header h2																			{margin: 0; padding: 0; width: 0; height: 0; visibility: hidden;}

/* gnb */
#gnb .gnb																			{}
#gnb .gnb:after																		{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#gnb .gnb .gnb-item																	{float: left; width: 33.3%;}
#gnb .gnb .gnb-item+.gnb-item														{}
#gnb .gnb .gnb-item .gnb-item-name													{display: block;}
#gnb .gnb .gnb-item .gnb-item-name .text											{display: block; height: 5vh; line-height: 5vh; font-size: 1rem; color: #ffffff; text-align: center;}
#gnb .gnb .gnb-item .gnb-item-name:hover .text										{color: #00ff7f;}

/* container */
#container 																			{position: relative; font-family: 'Oswald', sans-serif;}
#container .content-item															{width: 100vw; height: 100vh;}
#container .content-item h3															{margin: 0; padding: 0; width: 0; height: 0; visibility: hidden;}

/* resume */
.content-item.resume																{overflow: hidden; position: relative; font-family: 'Noto Sans Korean', '맑은 고딕', 'Malgun Gothic', sans-serif; background-color: #2c4157;}
.content-item.resume .resume-wrap													{position: absolute; top: 15vh; left: 50%; width: 40vw; height: 74vh; margin: 0 0 0 -20vw; box-shadow: 10px 10px 5px #333333; outline: 5px #c0c0c0 solid; background-color: #ffffff;}
.content-item.resume h4																{margin: 0.8em 0; padding: 0 15px; text-align: right; font-size: 2rem; font-weight: 700; letter-spacing: -1px;}
.content-item.resume .resume-body													{padding: 0 15px; text-align: left;}
.content-item.resume .resume-item													{padding: 30px 0; border-top: 2px #333333 dotted;}
.content-item.resume .resume-item .sub-title										{margin: 0; padding: 0; font-size: 1.25rem; font-weight: 700; letter-spacing: -0.5px;}
.content-item.resume .resume-item .sub-content										{margin: 0; padding: 10px 0 0 0; font-size: 1rem; font-weight: 400; letter-spacing: -1px;}
.content-item.resume .resume-item.career .career-time								{color: #333333; font-style: italic;}
.content-item.resume .resume-item.career .career-company							{margin: 0 0 0 5px; font-weight: bold;}
.content-item.resume .resume-item.skill .sub-content li								{margin: 10px 0;}
.content-item.resume .resume-images.hand											{position: absolute; right: 22vw; bottom: -8vh;}

/* publishing */
.content-item.publishing															{overflow: hidden; position: relative; box-shadow: inset 0 0 0 5vh #00ff7f;}
.content-item.publishing .publishing-wrap											{padding: 5vh;}
.content-item.publishing .publishing-wrap .data-item								{}
.content-item.publishing .publishing-wrap .data-item:after							{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
.content-item.publishing .publishing-wrap .data-item li								{float: left; width: 33.333333333333336%; height: 22.5vh; text-align: center; transition: all 0.3s; -webkit-transition: all 0.3s; border: 1px #eeeeee solid; box-sizing: border-box;}
.content-item.publishing .publishing-wrap .data-item li:before						{content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.content-item.publishing .publishing-wrap .data-item li:hover						{border: 0 none; background-color: #00ff7f;}
.content-item.publishing .publishing-wrap .data-item li:nth-child(2n):hover			{background-color: #6fa8ff;}
.content-item.publishing .publishing-wrap .data-item li:nth-child(3n):hover			{background-color: #97ffc9;}
.content-item.publishing .publishing-wrap .data-item li:hover a						{color: #000000;}
.content-item.publishing .publishing-wrap .data-item li a							{display: inline-block; padding: 0 35%; box-sizing: border-box; vertical-align: middle; color: #959595; font-size: 1.5rem;}
.content-item.publishing .publishing-wrap .data-item .wbr							{display: inline-block; line-height: inherit; text-decoration: inherit;}

/* contact */
.content-item.contact																{position: relative; font-family: 'Noto Sans Korean', '맑은 고딕', 'Malgun Gothic', sans-serif; background-color: #ffffff;}
.content-item.contact .contact-item													{}
.content-item.contact .contact-item.info											{display: block; padding: 9vh 1.5vw; font-size: 1rem;}
.content-item.contact .contact-item.info .info-item+.info-item						{margin: 5px 0 0 0;}
.content-item.contact .contact-item.info .info-item .info-head						{font-weight: bold; letter-spacing: -0.3px; color: #00bd5f;}
.content-item.contact .contact-item.info .info-item a								{text-decoration: none; color: #808080;}
.content-item.contact .contact-item.map												{position: absolute; bottom: 0; width: 100%; height: 75%;}
.content-item.contact .contact-item.map:after										{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}

/* footer */
#footer																				{text-align: center; background-color: #2c4157;}
#footer small																		{font-family: 'Oswald', sans-serif; color: #ffffff;}