@charset "utf-8";

@import url(./layout.front.css);
@import url(./module.form.css);
@import url(./module.button.css);
@import url(./module.global.css);

/**
 * layout
 */
.page-content .content-head														{margin: 3rem 0 2rem 0; padding: 0 1rem;}
.page-content .content-head .content-name										{margin: 0; font-size: 2rem; color: #2594c0; line-height: 2.5rem; font-weight: normal; font-family: NotoSansKR-Light, sans-serif;}

.page-content .content-body														{overflow: hidden; margin: 0;}
.page-content .content-body .section											{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body .section .section-name								{margin: 2rem 0 1rem 0; line-height: 1.75rem; font-size: 1.25rem; font-weight: normal;}
.page-content .content-body .section .subsection 								{}
.page-content .content-body .section .subsection .subsection-name				{margin: 0; line-height: 1.5rem; font-size: 1rem; font-weight: normal; font-family: NotoSansKR-Regular, sans-serif; color: #2594c0;}

/**
 * module
 */
.page-content .content-body .para												{margin: 1rem 0; line-height: 1.5rem;}
.page-content .content-body .wbr												{display: inline-block; text-decoration: inherit;}
.page-content .content-body .post-sort											{margin: 2rem 0 1rem 0;}
.page-content .content-body .post-display										{margin: 1rem 0;}
.page-content .content-body .post-control										{margin: 2rem 0;}
.page-content .content-body .submit-form										{margin: 1rem 0;}
.page-content .content-body .data-display										{margin: 1rem 0;}

.page-content .content-body>.para												{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-sort											{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-display										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-control										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.submit-form										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.data-display										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.button-area										{margin: 2rem 0; padding: 0 1rem;}

/**
 * content
 */
.page-content.recruitment .content-body:before									{content: ''; display: block; height: 100px; margin: 2.5rem 1rem 2rem 1rem; background-image: url(./../../img/recruitment/recruit_visual_01.png); background-repeat: no-repeat; background-size: 100% auto; -webkit-background-size: 100% auto; background-position: 50% 50%;}
.page-content.recruitment .content-body .section								{margin: 2rem 1rem;}