@charset "utf-8";

@import url(./layout.front.css);
@import url(./module.form.css);
@import url(./module.button.css);
@import url(./module.global.css);

/**
 * layout
 */
.page-content .content-head														{margin: 3rem 0 2rem 0; padding: 0 1rem;}
.page-content .content-head .content-name										{margin: 0; font-size: 2rem; color: #2594c0; line-height: 2.5rem; font-weight: normal; font-family: NotoSansKR-Light, sans-serif;}

.page-content .content-body														{margin: .75rem 0;}
.page-content .content-body .section											{}
.page-content .content-body .section .section-name								{display: block; position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; line-height: 1px; font-size: 1px; border: 0; clip: rect(0, 0, 0, 0); clip: rect(0, 0, 0, 0);}
.page-content .content-body .section .subsection 								{}
.page-content .content-body .section .subsection .subsection-name				{margin: 0; line-height: 1.5rem; font-size: 1rem; font-weight: normal; font-family: NotoSansKR-Medium, sans-serif;}

/**
 * module
 */
.page-content .content-body .para												{margin: 1rem 0; line-height: 1.5rem;}
.page-content .content-body .wbr												{display: inline-block; text-decoration: inherit;}
.page-content .content-body .post-sort											{margin: 2rem 0 1rem 0;}
.page-content .content-body .post-display										{margin: 1rem 0;}
.page-content .content-body .post-control										{margin: 2rem 0;}
.page-content .content-body .submit-form										{margin: 1rem 0;}
.page-content .content-body .data-display										{margin: 1rem 0;}

.page-content .content-body>.para												{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-sort											{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-display										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.post-control										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.submit-form										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.data-display										{margin-right: 1rem; margin-left: 1rem;}
.page-content .content-body>.button-area										{margin: 2rem 0; padding: 0 1rem;}

/* search-result */
.page-content.search-result .content-head										{display: block; position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; line-height: 1px; font-size: 1px; border: 0; clip: rect(0 0 0 0); clip: rect(0,0,0,0);}
.page-content.search-result .content-body .search-result-info					{margin: 3rem 1rem 2rem 1rem; font-size: 1.25rem;}
.page-content.search-result .content-body .search-result-info .keyword			{display: inline-block; font-weight: normal; color: #2594c0; word-break: break-all;}

/**
 * content
 */
.page-content.search-result .content-body .section .post-display									{margin: 1rem;}
.page-content.search-result .content-body .related-info.theme-a.type-a								{box-shadow: 0 0.75rem 0 0 rgba(0,0,0,0.04);}
.page-content.search-result .content-body .no-data													{padding: 2rem 0 3rem 0;}
.page-content.search-result .content-body .no-data .para											{text-align: center;}
.page-content.search-result .content-body .related-info.theme-a.type-a .info-item .no-data			{padding: 1rem 0 2rem 0;}