@charset "UTF-8";

/* 
GLOBAL
*/
/* font */
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* frame */
html										{overflow: hidden;}
html, body									{height: 100%;}
body										{margin: 0; padding: 0;}
ul											{list-style: none; margin: 0; padding: 0;}
button										{display: inline-block; padding: 0; appearance: none; -webkit-appearance: none; font-size: inherit; border: 0 none; background-color: transparent;}
a											{text-decoration: none;}
#frame										{width: 100%; height: 100%;}
img											{vertical-align: top; border: 0 none;}

/* header */
#header										{overflow: hidden; position: fixed; z-index: 1; width: 100%; height: 102px; box-shadow: 0 1px 7px rgba(0,0,0,0.2); box-sizing: border-box; background-color: rgba(255,255,255,0.1);}
#header:after								{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#header .data-head							{float: left; width: 104px; height: 102px;}
#header .data-head .title					{margin: 0; padding: 0;}
#header .data-head .title a					{display: block; width: 104px; height: 102px; padding: 0 25px; text-indent: -999em; transition: All 0.7s ease; -webkit-transition: All 0.7s ease; background: url(../images/20160215/missa-logo-s.png) no-repeat 50% 50%; cursor: pointer;}
#header .data-head .title a:hover			{transform: rotateY(180deg);}
#header .data-body							{float: right;}
#header .data-body .title					{display: block; position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: 0; clip: rect(0 0 0 0); clip: rect(0,0,0,0);}
#header .data-body .data-item				{width: 100%; height: 102px;}
#header .data-body .data-item li			{float: left;}
#header .data-body .data-item li a			{display: block; padding: 42px 18px; color: #e1b83d; font-size: 16px; line-height: 1; font-family: 'Oswald', sans-serif; text-decoration: none; box-sizing: border-box; transition: all 0.15s linear; -webkit-transition: all 0.15s linear;}
#header .data-body .data-item li a:hover	{color: #feedb8; background-color: rgba(255,255,255,0.2); box-shadow: inset 0px 3px #feedb8;}

/* footer */
#footer										{position: fixed; z-index: 1; bottom: 0; width: 100%; height: 57px; line-height: 1; background-color: rgba(0,0,0,0.2);}
#footer:after								{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#footer .data-head							{position: absolute; top: 5px; left: 7%;}
#footer .data-head a						{float: left; width: 115px; height: 57px; text-indent: -999em; background: url(../images/20160215/jyplogo-w.png) no-repeat 0 0;}
#footer .data-body							{position: absolute; top: 14px; right: 7%;}
#footer .data-body .data-item				{float: left; width: 30px; height: 30px; text-indent: -999em; background-position: 50% 50%; background-color: #e4e4e4; background-repeat: no-repeat; border-radius: 5px;}
#footer .data-body .data-item+.data-item	{margin: 0 0 0 10px;}
#footer .data-body .data-item.tw			{background-image: url(../images/20160215/twitter_bird.png);}
#footer .data-body .data-item.fb			{background-image: url(../images/20160215/facebook.png);}
#footer .data-body .data-item.yt			{background-image: url(../images/20160215/youtube.png);}
#footer .data-body .data-item.fan			{background-image: url(../images/20160215/fans.png);}

/*
LOCAL
*/
/* index */
#frame.index								{background: url(../images/20160215/missa-bg-pc.jpg) no-repeat 0 0; background-size: cover; -webkit-background-size: cover;}

/* profile */
#frame.profile								{position: relative; background: url(../images/20160215/1.jpg) no-repeat 50% 50%; background-size: cover; -webkit-background-size: cover;}
#frame.profile .data-list					{position: absolute; z-index: 1; top: 23%; left: 8%; width: 230px; height: 230px;}
#frame.profile .data-list:after				{content: '';}
#frame.profile .data-list .data-item		{float: left; margin: 5px; width: 100px; height: 100px; opacity: 0.8; transition: 1s; -webkit-transition: 1s;}
#frame.profile .data-list .data-item:hover	{opacity: 1; transition: 1s; -webkit-transition: 1s;}
#frame.profile .data-list .data-item a		{display: block; height: 100%;}
#frame.profile .data-list .data-item a img	{width: 100%; height: 100%; border: 2px #ffffff solid; box-sizing: border-box;}
#frame.profile .button-area					{display: block;}
#frame.profile .button-area .btn			{position: absolute; z-index: 1; top: 50%; width: 50px; height: 50px; margin: -25px 0 10px; text-indent: -999em; background-repeat: no-repeat; background-position: 50% 50%; opacity: 0.7; cursor: pointer;}
#frame.profile .button-area .btn:hover		{opacity: 1;}
#frame.profile .button-area .btn.prev		{left: 5px; background-image: url(http://missa.jype.com/images/prevImgBtn.png);}
#frame.profile .button-area .btn.next		{right: 5px; background-image: url(http://missa.jype.com/images/nextImgBtn.png);}
#frame.profile .data-image .data-item		{display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0; text-indent: -999em; background-size: cover; -webkit-background-size: cover; background-position: 50% 50%; transition: all 1s ease; -webkit-transition: all 1s ease;}
#frame.profile .data-image .data-item.active{display: block; opacity: 1;}
#feiPhoto									{background-image: url(../images/20160215/1.jpg);}
#ziaPhoto									{background-image: url(../images/20160215/2.jpg);}
#minPhoto									{background-image: url(../images/20160215/3.jpg);}
#suzyPhoto									{background-image: url(../images/20160215/4.jpg);}

/* discography */