@charset "UTF-8";

/* 
GLOBAL
*/
/* font */
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* frame */
html								{overflow: hidden;}
html, body							{height: 100%;}
body								{margin: 0; padding: 0;}
ul									{list-style: none; margin: 0; padding: 0;}
.menu								{display: none; position: absolute; top: 0; right: 0; width: 200px; height: 61px; font-family: 'Oswald', sans-serif; font-size: 16px; color: #ffffff; border: 0; background-color: #333333;}

/* gnb */
header								{overflow: hidden; position: absolute; width: 100%; height: 100px; padding: 0 20px; box-shadow: 0 1px 6px rgba(0,0,0,0.2); background-color: rgba(255,255,255,0.1);}
header h1							{float: left; position: absolute; top: 4px; left: 45px; width: 104px; height: 52px; transition: 1s; -webkit-transition: 1s; background: url(../images/20160215/missa-logo-s.png) no-repeat center center; cursor: pointer;}
header h1:hover						{transform: rotateY(180deg);}
header a							{color: transparent;}
header nav							{float: right; display: block; margin-right: 40px;}
header nav li						{float: left; line-height: 100px;}
header nav li a						{display: block; padding: 0 18px; font-family: 'Oswald', sans-serif; text-decoration: none; color: #e1b83d;}
header nav li a:hover				{color: #feedb8; transition: 0.2s; border-top: 2px #feedb8 solid; box-shadow: inset 0px 3px #feedb8; background-color: rgba(255, 255, 255, 0.2);}
header nav a.menu					{color: #ffffff; text-decoration: none;}

/* footer */
footer								{position: absolute; bottom: 0; width: 100%; height: 57px; line-height: 60px; background-color: rgba(0,0,0,0.2);}
footer a:before						{display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; color: #000000; border-radius: 5px; background-color: #e4e4e4;}
footer .jyplogo a					{float: left; position: absolute; z-index: 1; top: 5px; left: 7%; width: 115px; height: 45px; text-indent: -120%; background: url(../images/20160215/jyplogo-w.png) no-repeat;}
footer .snslink						{float: right; position: relative; top: 15px; right: 3%; width: 180px; height: 30px; text-align: center;}
footer .snslink a.sns				{float: left; display: inline-block; position: relative; width: 30px; height: 30px; margin: 0 10px 0 0; white-space: nowrap; vertical-align: middle; text-decoration: none; text-indent: -9999px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-repeat: no-repeat;
background-position: center center;
background-color: #e4e4e4;
}
footer .snslink .tw					{background: url(../images/20160215/twitter_bird.png);}
footer .snslink .fb					{background: url(../images/20160215/facebook.png);}
footer .snslink .yt					{background: url(../images/20160215/youtube.png);}
footer .snslink .fan				{background: url(../images/20160215/fans.png);}

.wrap								{width: 100%; height: 100%; background: url(../images/20160215/missa-bg-pc.jpg) no-repeat top center; -webkit-background-size: cover; background-size: cover;}
.mainlogo							{position: relative; top: 41.9%; left: 40.9%; margin: auto 0; width: 350px; height: 350px; transition: 1s; opacity: 0.8; background: url(../img/missa-bg-mainlogo.png) no-repeat;}
.mainlogo:hover						{transform: scale(1.1,1.1);}

/* media-query */
@media all and (max-width: 769px){
.wrap								{background-image: url(../images/20160215/missa-bg-720.jpg);}
header								{overflow: visible;}
nav .menu							{display: block; width: 200px; height: 61px; line-height: 61px;}
nav a.menu							{text-decoration: none; text-align: center;}
nav ul								{display: block; float: none; position: absolute; top: 60px; right: 0; width: 200px;}
nav ul li							{float: none; width: 200px; line-height: 42px;}
nav ul li:first-child				{border-top: none;}
.mainlogo							{top: 10%; width: 250px; height: 250px; -webkit-background-size: cover; background-position: 50% 50%; -webkit-background-size: cover; background-size: cover;}
header nav ul						{overflow: hidden; z-index: 1; height: 0; transition: 1000ms;}
header nav ul:target				{overflow: hidden; height: 270px; transition: 1000ms;}
header nav ul li					{background-color: rgba(255,255,255,0.3);}
header nav ul li:hover				{color: #feedb8; border-top: 2px #feedb8 solid; background-color: rgba(255,255,255,0.2);}
header nav ul li a:hover			{height: 40px; box-sizing: border-box; border: 0; box-shadow: none; transform: translatex(10%);}
}

@media all and (max-width: 481px){
header								{height: 40px;}
header h1							{width: 65px; height: 30px; margin: 5px; transform: scale(0.8,0.8); background-size: cover;}
nav .menu							{display: block; width: 150px; height: 41px; line-height: 41px; font-size: 12px;}
nav ul								{top: 40px; width: 150px;}
footer								{height: 37px; line-height: 37px;}
footer .jyplogo						{margin: -2px; transform: scale(0.7,0.7);}
footer .snslink a:before			{transform: scale(0.7,0.7);}
}