@charset "utf-8";

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* layout */
html, body														{height: 100%;}
body															{overflow-x: hidden; margin: 0; padding: 0; font-size: 1rem; line-height: 1.5rem;}
ul																{list-style: none; margin: 0; padding: 0;}
img																{display: block; margin: 0 auto; border: 0 none; vertical-align: top;}
#frame															{height: 100%; font-family: 'Spoqa Han Sans', '맑은 고딕', sans-serif;}

/* header */
#header															{height: 15vh; padding: 0 15%; background-color: #009a3e;}
#header .global-navigations										{display: flex; display: -webkit-flex;}
#header .global-navigations:after								{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#header .global-navigations .gnb-logo							{margin: 0; padding: 0; font-family: 'Fjalla One', sans-serif; font-style: italic;}
#header .global-navigations .gnb-logo .hyper-link				{display: table; height: 100%; text-decoration: none;}
#header .global-navigations .gnb-logo .hyper-link .text			{display: table-cell; vertical-align: middle; color: #ffffff;}
#header .global-navigations .gnb-name							{display: block; position: absolute; overflow: hidden; margin: 0; padding: 0; width: 1px; height: 1px; border: 0 none; clip: rect(0,0,0,0);}
#header .global-navigations .gnb								{width: 100%; height: 15vh; margin: 0;}
#header .global-navigations .gnb-item							{position: relative; float: left; width: 25%; height: 100%; text-align: center;}
#header .global-navigations .gnb-item:before					{content: ''; display: inline-block; width: 1px; height: 100%; margin-right: 0; vertical-align: middle;}
#header .global-navigations .gnb-item .hyper-link				{display: inline-block; font-size: 1.5rem; color: #ffffff; font-weight: bold; text-decoration: none; transition: ease 0.3s;}
#header .global-navigations .gnb-item .hyper-link:hover			{font-size: 2rem; transition: ease 0.3s;}

/* local-navigations */
#header .local-navigations										{display: none; position: absolute; z-index: 2; top: 10vh; left: 50%; width: 10vw; margin: 0 0 0 -6vw; padding: 10px 15px 25px; box-shadow: 5px 5px 10px #333333; background-color: #ffffff;}
#header .local-navigations.active								{display: block; transition: ease 0.3s;}
#header .local-navigations .lnb:after							{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#header .local-navigations .lnb-name							{display: block; position: absolute; overflow: hidden; margin: 0; padding: 0; width: 1px; height: 1px; border: 0 none; clip: rect(0,0,0,0);}
#header .local-navigations .lnb-wrap+.lnb-wrap					{margin-top: 15px;}
#header .local-navigations .lnb-wrap .lnb-detail				{margin: 0 0 10px 0; padding: 0; text-align: left; font-size: 1rem; color: #333333;}
#header .local-navigations .lnb-wrap .lnb						{text-align: left;}
#header .local-navigations .lnb-wrap .lnb-item					{float: left; width: 100%;}
#header .local-navigations .lnb-wrap .lnb-item:hover			{background-color: #009a3e; transition: ease 0.3s;}
#header .local-navigations .lnb-wrap .lnb-item+.lnb-item		{margin-top: 5px;}
#header .local-navigations .lnb-wrap .lnb-item .hyper-link		{font-size: 1rem; color: #000000; font-weight: normal; transition: ease 0.3s;}
#header .local-navigations .lnb-wrap .lnb-item .hyper-link:hover{color: #ffffff; transition: ease 0.3s;}

/* slick-slider */
.slick-slider													{display: block; position: relative; top: 50%; left: 50%; width: 100vw; height: 50vh; margin: 0 0 0 -50vw; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; cursor: pointer;}
.slick-slider .slick-prev,
.slick-slider .slick-next										{display: block; position: absolute; z-index: 1; top: 43%; margin: 0; padding: 0; outline: none; border: none; color: #eeeeee; background-color: transparent; font-size: 0; line-height: 0; opacity: 0.7;}
.slick-slider .slick-prev										{left: 100px;}
.slick-slider .slick-next										{right: 100px;}
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover									{opacity: 1; transition: ease 0.3s;}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before								{font-size: 100px; font-family: 'Poppins', sans-serif; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; cursor: pointer;}
.slick-slider .slick-prev:before								{content: '<';}
.slick-slider .slick-next:before								{content: '>';}
.slick-list														{display: block; overflow: hidden; position: relative; margin: 0; padding: 0;}
.slick-list:focus												{outline: none;}
.slick-list.dragging											{cursor: pointer; cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list										{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track													{display: block; position: relative; top: 0; left: 0;}
.slick-track:before,
.slick-track:after												{display: table; content: '';}
.slick-track:after												{clear: both;}
.slick-loading .slick-track										{visibility: hidden;}
.slick-slide													{display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide										{float: right;}
.slick-slide img												{display: block;}
.slick-slide.slick-loading img									{display: none;}
.slick-slide.dragging img										{pointer-events: none;}
.slick-initialized .slick-slide									{display: block;}
.slick-loading .slick-slide										{visibility: hidden;}
.slick-vertical .slick-slide									{display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden										{display: none;}
.slider-wrap .slider-item .slider-image							{display: block; width: 100%; height: auto; vertical-align: top;}
.slider-wrap .slider-item .slider-text							{display: block; position: relative; height: 50vh; line-height: 50vh; vertical-align: middle; font-size: 36px; text-align: center; color: #3498db; background: #ffffff;}

/* content */
#content														{}
#content .data-visual											{width: 100%;}
#content .data-wrap												{display: flex; display: -webkit-flex; max-width: 1000px; margin: 0 auto; padding: 3% 2% 0 2%;}
#content .data-wrap+.data-wrap									{padding: 3% 2%;}
#content .data-wrap:after										{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#content .data-wrap .data-item .data-head						{display: block; position: absolute; overflow: hidden; margin: 0; padding: 0; width: 1px; height: 1px; border: 0 none; clip: rect(0,0,0,0);}
#content .data-wrap .data-item .data-body						{display: block;}
#content .data-wrap .data-item .data-body .image				{display: block; width: inherit;}
#content .data-wrap .data-item .data-body .title				{display: block; width: inherit;}
#content .data-wrap .data-item .data-body .caption				{display: -webkit-box; overflow: hidden; width: inherit; line-height: 1.5rem; text-overflow: ellipsis; word-wrap: break-word; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
#content .data-wrap .data-item p.text							{margin: 1rem 0 0 0; padding: 0;}
#content .data-wrap .data-item .hyper-link						{display: block; position: absolute; width: inherit; height: inherit;}
#content .data-wrap .data-item .hyper-link .text				{display: block; position: absolute; overflow: hidden; margin: 0; padding: 0; width: 1px; height: 1px; border: 0 none; clip: rect(0,0,0,0);}
#content .data-wrap .data-item .wbr								{display: inline-block; text-decortaion: inherit;}

#content .data-wrap .data-item.theme-a							{width: 25%; flex-grow: 1; -webkit-flex-grow: 1; height: 70vh;}
#content .data-wrap .data-item.theme-a .data-body				{padding: 150px 0; text-align: center;}
#content .data-wrap .data-item.theme-a .title					{font-weight: bold;}
#content .data-wrap .data-item.theme-a .image					{padding: 0 0 5% 0;}
#content .data-wrap .data-item.theme-a .image img				{vertical-align: top;}
#content .data-wrap .data-item.theme-a .hyper-link				{width: 250px;}
#content .data-wrap .data-item.theme-a+.data-item.theme-a		{margin-left: 5px;}
#content .data-wrap .data-item.theme-b							{flex-grow: 1; -webkit-flex-grow: 1;}
#content .data-wrap .data-item.theme-b .data-body				{width: inherit; margin: 0 auto; padding: 60px 0; text-align: center;}
#content .data-wrap .data-item.theme-b .title					{font-size: 1.5rem; font-weight: bold;}
#content .data-wrap .data-item.theme-b+.data-item.theme-b		{margin-left: 5px;}

#content .data-wrap .data-item.recommend-whitening				{background-color: #eeeeee;}
#content .data-wrap .data-item.recommend-whitening .title		{color: #2959b8;}
#content .data-wrap .data-item.recommend-breath					{background-color: #ffffff;}
#content .data-wrap .data-item.recommend-breath .title			{color: #00b700;}
#content .data-wrap .data-item.recommend-sensitive				{background-color: #eeeeee;}
#content .data-wrap .data-item.recommend-sensitive .title		{color: #f268ad;}
#content .data-wrap .data-item.recommend-kids					{background-color: #ffffff;}
#content .data-wrap .data-item.recommend-kids .title			{color: #91d305;}

#content .data-wrap .data-item.medical-cause					{padding: 0 2%; box-sizing: border-box; border: 5px #009a3e dashed;}
#content .data-wrap .data-item.medical-cause .title				{color: #ffffff; background-color: #009a3e;}
#content .data-wrap .data-item.medical-cause .caption			{color: #444444;}
#content .data-wrap .data-item.medical-prevention				{padding: 0 2%; box-sizing: border-box; border: 5px #009a3e dashed;}
#content .data-wrap .data-item.medical-prevention .title		{color: #ffffff; background-color: #009a3e;}
#content .data-wrap .data-item.medical-prevention .caption		{color: #444444;}

/* footer */
#footer 														{height: 30px; text-align: center; background-color: #009a3e;}
#footer .footer-item											{vertical-align: middle; line-height: 30px; font-family: 'Fjalla One', sans-serif; color: #ffffff;}
#footer .footer-item .em										{font-weight: bold; text-transform: uppercase;}