@charset "UTF-8";

/* 
GLOBAL
*/
/* fonts */
@import url(https://fonts.googleapis.com/css?family=Oxygen:700);

/* frame */
html,body											{height: 100%;}
body												{margin: 0; padding: 0; font-family: 'Oxygen', sans-serif;}
#frame												{position: relative; overflow: hidden; width: 100%; height: 100%;}
ul													{list-style: none; margin: 0; padding: 0;}
a													{text-decoration: none;}
button												{display: inline-block; padding: 0; appearance: none; -webkit-appearance: none; border: 0 none; background-color: transparent;}
*::selection										{text-shadow: none; color: #ffffff; background: #1974c7;}
*:focus												{outline: none;}

/* header */
#header												{position: fixed; width: 100%; height: 40px; background-color: #1974c7;}
#header .data-list									{}
#header .data-list .data-item 						{float: left; position: relative; padding: 0 50px; line-height: 40px; font-size: 12px; font-weight: bold;}
#header .data-list .data-item a						{display: block; color: #ffffff;}
#header .data-list .data-item.active				{background-color: #bed44d;}
#header .data-list .data-item.active a				{color: #1974c7;}

/* 
LOCAL
*/
#content											{padding: 40px 0 0 0;}

/* slide */
.slide-banner										{width: 100%; height: 100%;}
.slide-banner .slide-list							{overflow: hidden; position: relative; width: 100%; height: 100%;}
.slide-banner .slide-list .slide-item				{display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; background-position: 0 0;}
.slide-banner .slide-list .slide-item.about			{background-image: url(../images/20170124/about.png);}
.slide-banner .slide-dots							{position: relative; z-index: 1; top: 50px; left: 50%; margin: 0 0 0 -35px;}
.slide-banner .slide-dots:after						{content: ''; display: block; clear: both; width: 0; height: 0; visiblity: hidden;}
.slide-banner .slide-dots li						{float: left;}
.slide-banner .slide-dots li+li						{margin: 0 0 0 10px;}
.slide-banner .slide-dots li a						{display: block; width: 10px; height: 10px; text-indent: -999em; border: 1px #727272 dotted; background-color: #ffffff; box-sizing: border-box;}
.slide-banner .slide-dots li.active a				{background-color: #727272;}

/* .slide-banner .slide-list li a						{display: block; position: relative; z-index: 1; top: 50px; width: 10px; height: 10px; margin: 0 3px; text-indent: -999em; border: 1px #cccccc dotted; background: #ffffff;}
.slide-banner .slide-list li.active a				{background: #727272;}
.slide-banner .slide-list li img					{display: none; position: absolute; top: 0; left: 0; width: 100%;}
.slide-banner .slide-list li.active img				{display: block;} */

/* button */
.button-area										{}
.button-area .btn									{display: inline-block; position: absolute; z-index: 1; top: 50%; width: 50px; height: 50px; text-indent: -999em; opacity: 0.2; cursor: pointer; background-repeat: no-repeat; background-position: 0 0; background-size: 50px;}
.button-area .btn.next								{right: 0; background-image: url(../images/20170124/next.png);}
.button-area .btn.prev								{left: 0; background-image: url(../images/20170124/prev.png);}