@charset "UTF-8";

/*
GLOBAL
*/
/* fonts */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset */
html, body												{height: 100%;}
body													{position: relative; margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
ul														{list-style: none; margin: 0; padding: 0;}
a														{text-decoration: none;}

/* frame */
#frame													{overflow: hidden;}

/* header */
#header													{padding: 0 10px;}
#header:after											{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
#header h1												{margin: 0; padding: 0; text-align: center;}
#header h2												{display: block; position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: 0; clip: rect(0 0 0 0); clip: rect(0,0,0,0);}

/* member-service */
.member-service											{float: right; padding-top: 20px;}
.member-service ul li									{float: left;}
.member-service ul li+li								{margin-left: 10px;}

/* local-navigations */
.local-navigations										{float: left; padding-top: 10px;}
.local-navigations ul li								{float: left;}
.local-navigations ul li.on								{color: #ffffff; background-color: #000000;}
.local-navigations ul li+li								{margin-left: 10px;}

/* aside */
#aside .sub-navigations h2								{margin: 0; font-size: 16px;}
#aside .sub-navigations li								{margin: 10px 0;}
#aside .sub-navigations.quantity li						{width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#aside .sub-navigations.personal li						{width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/* footer */
#footer													{position: fixed; right: 0; bottom: 0; left: 0; height: 30px; text-align: center; background-color: #ffffff;}
#footer small											{color: #000000;}